@using SitecoreSoftServe.Feature.Navigations.Common
@using SitecoreSoftServe.Feature.Navigations.Models.FooterModels

@model BottomFooterModel

<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-7 col-12">
                <span>
                    @Html.Sitecore().Field(FooterTemplates.BottomFooter.Copyright.ToString(), Model.Item)
                </span>
            </div>
            <div class="col-lg-6 col-md-5 col-12">
                <div class="column-right">
                    <span>
                        @Html.Sitecore().Field(FooterTemplates.BottomFooter.Terms.ToString(), Model.Item)
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-7 col-12">
                <span>
                    Copyright © Educat 2022. All right reserved.Created by <a href="#">Edubuzz</a>
                </span>
            </div>
            <div class="col-lg-6 col-md-5 col-12">
                <div class="column-right">
                    <span>Privacy Policy , Terms &amp; Conditions</span>
                </div>
            </div>
        </div>
    </div>
</div>*@