@using Sitecore.Mvc

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Academy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">


</head>
<body>
    <div class="as-mainwrapper">
        <div class="bg-white">
            <header>
                @Html.Sitecore().DynamicPlaceholder("header")
            </header>
            @Html.Sitecore().DynamicPlaceholder("main-content")
            <footer>
                @Html.Sitecore().DynamicPlaceholder("footer")
            </footer>
        </div>
    </div>

</body>
</html>